<div class="container"> 
    <br>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <b>Employee Name: &nbsp;&nbsp;<b> {{ data["employee_name"] }} </b>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        Department:<b> &nbsp;&nbsp; {{ data["department"] }}</b>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        Date & Time:<b> &nbsp;&nbsp; {{ data["nowtime"] }}</b>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        Shift:<b> &nbsp;&nbsp; {{data["shift_type"] }}</b>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        <table class="table">
            <thead>
                <tr><td colspan="5" style="background-color: lightgrey;text-align:center">Mobile Scanning Report</td></tr>
                <tr style="background-color: orange;">
                    <td>List</td>
                    <td>BC</td>
                    <td>NT/FT</td>
                    <td>CL</td>
                    <td>Total</td>
                </tr>

            </thead>
           <tbody>
            
            <tr>
                <td>Planned</td>
                <td> {{ data["planned_bc_count"] }}</td>
                <td> {{ data["planned_nt_ft_count"] }}</td>
                <td>{{ data["planned_cl_count"] }} </td>
                <td>{{ data["planned_bc_count"] + data["planned_nt_ft_count"] + data["planned_cl_count"] }}</td>
            </tr>
            <tr>
                <td>Actual</td>
                <td>{{ data["actual_bc_count"] }}</td>
                <td>{{ data["actual_nt_ft_count"] }}</td>
                <td>{{ data["actual_cl_count"] }}</td>
                <td>{{ data["actual_bc_count"] + data["actual_nt_ft_count"] + data["actual_cl_count"] }}</td>
            </tr>
            <tr>
                <td>Shortage</td>
                <td>{{ data["bc_shortage"] }}</td>
                <td>{{ data["nt_ft_shortage"] }}</td>
                <td>{{ data["cl_shortage"] }}</td>
                {% if (data["actual_bc_count"] + data["actual_nt_ft_count"] + data["actual_cl_count"]) >= (data["planned_bc_count"] + data["planned_nt_ft_count"] + data["planned_cl_count"])  %}
                <td>0</td>
                {% else %}
                <td>{{ (data["planned_bc_count"] + data["planned_nt_ft_count"] + data["planned_cl_count"]) - (data["actual_bc_count"] + data["actual_nt_ft_count"] + data["actual_cl_count"]) }}</td>
                {% endif %}

            </tr>
            <tr>
                <td>%</td>
                <td>{{ data["bc_percentage"] }} %</td>
                <td>{{ data["nt_ft_percentage"] }} %</td>
                <td>{{ data["cl_percentage"] }} %</td>
                <td>{{ data["total_percentage"] }} %</td>
            </tr>
            <!-- <tr>
                <td>%</td>
                <td>{{ data["onroll_percentage"] }} %</td>
                <td>{{ data["cl_percentage"] }} %</td>
                <td>{{ data["total_percentage"] }} %</td>
            </tr> -->
            <tr>
                <td>OT</td>
                <td>{{ data["ot_bc_count"] }}</td>
                <td>{{ data["ot_nt_ft_count"] }}</td>
                <td>{{ data["ot_cl_count"] }}</td>
                <td>{{ data["ot_bc_count"] + data["ot_nt_ft_count"] + data["ot_cl_count"] }}</td>
            </tr>

            <!-- <tr style="background-color: lightgreen;">
                <td>Total</td>
                <td>{{ data["actual_onroll_count"] + data["ot_onroll_count"] }}</td>
                <td>{{ data["actual_cl_count"] + data["ot_cl_count"] }}</td>
                <td>{{  data["actual_onroll_count"] + data["actual_cl_count"] + data["ot_onroll_count"] + data["ot_cl_count"] }}</td>
            </tr> -->
            
        </tbody>
           
        </table>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
    {% if data["scan_active"] %}
   
        <div class="col-md-3 col-xs-1"></div>
        <div class=" col-md-2 col-xs-3">
            <button id="scan" type="button" class="btn btn-primary btn-md">Scan</button>
        </div>
        <div class="col-md-2 col-xs-3">
            <button id="checkins" type="button" class="btn btn-primary btn-md">View</button>
        </div>
        <div class="col-md-2 col-xs-3">
            <button id="ot-checkins" type="button" class="btn btn-primary btn-md">OT View</button>
        </div>
        <div class="col-md-2 col-xs-1"></div>
    </div>
    
    {% else %}
    
        <div class="col-md-4 col-xs-1"></div>
        <div class="col-md-4 col-xs-11">
            Scan is only available during Shift Time.
        </div>
        <div class="col-md-4"></div>
    {% endif %}    
   <br><br>
    
</div>
</div>

<script type="text/javascript">
    if(document.getElementById("scan")){
        document.getElementById("scan").onclick = function () {
            location.href = "/qr_checkin";
        };
    }
    document.getElementById("checkins").onclick = function () {
        location.href = "/app/qr-checkin-list";
    };
    document.getElementById("ot-checkins").onclick = function () {
        location.href = "/app/ot-qr-checkin-list";
    };
</script>