{% extends "templates/web.html" %}
{% block title %} INVOICE KEY {% endblock %}
{% block head_include %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.11.4/b-2.2.2/sl-1.3.4/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="/assets/thaisummit/css/editor.dataTables.css">
{% endblock %}

{% block script %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.11.4/b-2.2.2/sl-1.3.4/datatables.min.js"></script>
<script type="text/javascript" src="/assets/thaisummit/js/dataTables.editor.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/datetime/1.1.1/js/dataTables.dateTime.min.js"></script>
<script>
  var editor; // use a global for the submit and return data rendering in the examples
 
 $(document).ready(function() {
     editor = new $.fn.dataTable.Editor( {
         ajax: "../php/staff.php",
         table: "#example",
         fields: [ {
                 label: "First name:",
                 name: "first_name"
             }, {
                 label: "Last name:",
                 name: "last_name"
             }, {
                 label: "Position:",
                 name: "position"
             }, {
                 label: "Office:",
                 name: "office"
             }, {
                 label: "Extension:",
                 name: "extn"
             }, {
                 label: "Start date:",
                 name: "start_date",
                 type: "datetime"
             }, {
                 label: "Salary:",
                 name: "salary"
             }
         ]
     } );
  
     // Activate an inline edit on click of a table cell
     $('#example').on( 'click', 'tbody td:not(:first-child)', function (e) {
         editor.inline( this );
     } );
  
     $('#example').DataTable( {
         dom: "Bfrtip",
         ajax: "../php/staff.php",
         order: [[ 1, 'asc' ]],
         columns: [
             {
                 data: null,
                 defaultContent: '',
                 className: 'select-checkbox',
                 orderable: false
             },
             { data: "first_name" },
             { data: "last_name" },
             { data: "position" },
             { data: "office" },
             { data: "start_date" },
             { data: "salary", render: $.fn.dataTable.render.number( ',', '.', 0, '$' ) }
         ],
         select: {
             style:    'os',
             selector: 'td:first-child'
         },
         buttons: [
             { extend: "create", editor: editor },
             { extend: "edit",   editor: editor },
             { extend: "remove", editor: editor }
         ]
     } );
 } );
</script>
{% endblock %}

{%- block content -%}
<table id="example" class="display" cellspacing="0" width="100%">
  <thead>
      <tr>
          <th></th>
          <th>First name</th>
          <th>Last name</th>
          <th>Position</th>
          <th>Office</th>
          <th width="18%">Start date</th>
          <th>Salary</th>
      </tr>
  </thead>
</table>

{% endblock %}