{% extends "templates/web.html" %}
{% block title %} Tag Monitor {% endblock %}
{% block head_include %}
<style>
    body {
        padding: 35px;
    }
</style>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css" />
{% endblock %}

{% block script %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#pager').DataTable({
            pageLength: 10,
            searching: false,
            lengthChange: false
        });
        var today = new Date();
        var date = today.getDate() + '-' + (today.getMonth() + 1) + '-' + today.getFullYear();
        document.getElementById("date").innerHTML = date;
        var month = today.toLocaleString('default', { month: 'short' })
        var current_yr =today.getFullYear()
        month_yr = month +' '+current_yr
        document.getElementById("month").innerHTML = month_yr;
        setInterval(function () {
            opts = {
                method: "thaisummit.www.tag_monitoring_tool.get_tag_list",
            }
            frappe.call(opts).then(res => {
                let html = ''
                $.each(res, function (i, d) {
                    $("#livetimer").html(d[1]);
                    $("#recieved").html(d[2]);
                    $("#ots").html(d[3]);
                    $("#tbs").html(d[4]);
                    $("#delay").html(d[5]);
                    $("#delaypercent").html(d[6]);
                    $("#failed").html(d[7]);
                    $("#recieved_month").html(d[8]);
                    $("#ots_month").html(d[9]);
                    $("#delay_month").html(d[10]);
                    $("#delay_month_percent").html(d[11]);
                    $("#failed_month").html(d[12]);

                    let tags = d[0];
                    html = '<thead><tr>\
                            <td style="background-color:steelblue;align-content: center;"><center><h4 style="color:white"><b>S.No</b></h4></center></td>\
                            <td style="background-color:steelblue"><center><h4 style="color:white"><b>Mat No</b></h4></center></td>\
                            <td style="background-color:steelblue"><center><h4 style="color:white"><b>Part No</b></h4></center></td>\
                            <td style="background-color:steelblue"><center><h4 style="color:white"><b>Part Name</b></h4></center></td>\
                            <td style="background-color:steelblue"><center><h4 style="color:white"><b>Model</b></h4></center></td>\
                            <td style="background-color:steelblue"><center><h4 style="color:white"><b>Req. Qty</b></h4></center></td>\
                            <td style="background-color:steelblue"><center><h4 style="color:white"><b>SAP Qty</b></h4></center></td>\
                            <td style="background-color:steelblue"><center><h4 style="color:white"><b>SAP Diff.</b></h4></center></td>\
                            <td style="background-color:steelblue"><center><h4 style="color:white"><b>Readiness Qty</b></h4></center></td>\
                            <td style="background-color:steelblue"><center><h4 style="color:white"><b>Readiness Diff.</b></h4></center></td>\
                            <td style="background-color:steelblue"><center><h4 style="color:white"><b>IYM Card IN</b></h4></center></td>\
                            <td style="background-color:steelblue"><center><h4 style="color:white"><b>Delay</b></h4></center></td>\
                            <td style="background-color:steelblue"><center><h4 style="color:white"><b>Reason</b></h4></center></td>\
                            </tr></thead><tbody>'

                    $.each(tags, function (j, k) {
                        index = parseInt(j) + 1;
                        html += "<tr>\
                            <td><center><h4>"+ index + "</h4></center></td>\
                            <td><center><h4>"+ k['mat_no'] + "</h4></center></td>\
                            <td><center><h4>"+ k['parts_no'] + "</h4></center></td>\
                            <td><center><h4>"+ k['parts_name'] + "</h4></center></td>\
                            <td><center><h4>"+ k['model'] + "</h4></center></td>\
                            <td><center><h4>"+ k['required_quantity'] + "</h4></center></td>\
                            <td><center><h4>"+ k['sap_quantity'] + "</h4></center></td>"
                            if (k['difference'] <= 0){
                            html += "<td style='background-color:red'><center><h4 style='color:white'>"+ k['difference'] + "</h4></center></td>"
                        }
                        else{
                            html += "<td><center><h4>"+ k['difference'] + "</h4></center></td>"
                        }

                        if (k['readiness_qty'] == k['required_quantity']){

                            html += "<td style='background-color:green'><center><h4 style='color:white'>"+ k['readiness_qty'] + "</h4></center></td>"
                        }
                        else if(k['readiness_qty'] == 0){
                            html += "<td style='background-color:red'><center><h4 style='color:white'>"+ k['readiness_qty'] + "</h4></center></td>"
                        }
                        else{
                            html += "<td style='background-color:orange'><center><h4 style='color:white'>"+ k['readiness_qty'] + "</h4></center></td>"
                        }

                        if (k['readiness_diff'] < 0){
                            html += "<td><center><h4 style='color:red'>"+ k['readiness_diff'] + "</h4></center></td>"
                        }
                        else{
                            html += "<td><center><h4 style='color:green'>"+ k['readiness_diff'] + "</h4></center></td>"
                        }
                        html += "<td><center><h4>"+ k['recieved_time'] + "</h4></center></td>"
                        if (k['status'] == 'on-time') {
                            html += "<td style='background-color:yellow'><center><h4>" + k['time_taken'] + "</h4></center></td>";
                        } else {
                            html += "<td style='background-color:red'><center><h4 style='color:white'>" + k['time_taken'] + "</h4></center></td>";
                        }
                        html += "<td><center><h4>" + k['reason_for_card_delay'] + "</h4></center></td></tr>";

                    })
                })
                html += '</tbody></table>'
                table.destroy();
                $('#pager').html(html);
                table = $('#pager').DataTable({
                    pageLength: 10,
                    searching: false,
                    lengthChange: false
                }
                    
                );
            })


       }, 10000);

        // Get the page info, so we know what the last is
         count = 0
        var pageInfo = table.page.info(),

        //     // Set the ending interval to the last page
            endInt = pageInfo.end,

        //     // Current page
             currentInt = 0,

        //     // Start an interval to go to the "next" page every 3 seconds
             interval = setInterval(function () {
        //         // "Next" ...
                 table.page(currentInt).draw('page');

        //         // Increment the current page int
                 currentInt++;

        //         // If were on the last page, reset the currentInt to the first page #
                if (currentInt === endInt)
                     currentInt = 0;

            }, 5000); // 3 seconds
    });
</script>
{% endblock %}

{%- block content -%}

<a  href="/app/tag-management-system"> <p style="text-align:right">Tag Management system</p></a>
<table border="1px solid" style="width: 100%;">
    <tr>
        <td rowspan="4" colspan="4" align="center" valign="middle"><img src="/files/iym-thai-logo.jpeg" width="200" height="100"> </td>
        <td style="background-color:steelblue"  colspan="4">
            <center>
                <h2 style="color:white"><b>IYM PENDING CARD STATUS </b></h2>
            </center>
        </td>
        <td style="background-color:steelblue"  colspan="4">
            <center>
                <h2 style="color:white"><b id='livetimer'>{{ tag_list[1] }}</b></h2>
                </center>
        </td>

    </tr>
    <tr>
        <td  colspan="1" style="background-color:white;color:brown">
           
        </td> 
        <td style="background-color:white;color:brown">
            <center>
                <h5 style="color:black"><b>IYM CARD IN (From 8AM)</b> </h5>
            </center>
        </td>
        <td  style="background-color:white;color:green">
            <center>
                <h5 style="color:black"><b>IYM CARD OUT (From 8AM)</b></h5>
            </center>
        </td>
        <td  colspan="1" style="background-color:yellow;color:black">
            <center>
                <h5 style="color:black"><b>TO BE SENT </b></h5>
            </center>
        </td>
        <td  colspan="1" style="background-color:red;color:black">
            <center>
                <h5 style="color:white"><b>FAILURE </b></h5>
            </center>
        </td>
        <td  colspan="1" style="background-color:red;color:black">
            <center>
                <h5 style="color:white"><b> FAILURE % </b></h5>
            </center>
        </td>
        <td  colspan="1" style="background-color:red;color:black">
            <center>
                <h5 style="color:white"><b> FAILED DELIVERY </b></h5>
            </center>
        </td>
    </tr>
    <tr>
        <td  colspan="1" style="background-color:white;color:brown">
            <center>
                <h6 style="color:black"><b><p id ="date"></p></b> </h6>
            </center>
        </td>
        <td  colspan="1" style="background-color:white;color:brown">
            <center>
                <h3 id="recieved"> {{ tag_list[2] }} </h3>
            </center>
        </td>
        <td  colspan="1" style="background-color:white;color:green">
            <center>
                <h3 id="ots"> {{ tag_list[3] }} </h3>
            </center>
            
        </td>   
        <td  colspan="1" style="background-color:white;color:brown">
            <center>
                <h3 id="tbs"> {{ tag_list[4] }} </h3>
            </center>
        </td> 
        <td  colspan="1" style="background-color:white;color:brown">
            <center><h3 id="delay"> {{ tag_list[5] }} </h3>
            </center> 
        </td> 
        <td  colspan="1" style="background-color:white;color:brown">
        <center>
            <h3 id="delaypercent">{{ tag_list[6] }} </h3>
        </center>
        </td> 
        <td  colspan="1" style="background-color:white;color:brown">
            <center>
                <h3 id="delaypercent">{{ tag_list[7] }}</h3>
            </center>
            </td> 
    </tr>
    <tr>  
        <td  colspan="1">
            <center>
                <h6 style="color:black"><b><p id ="month"></p></b> </h6>
            </center>
            
        </td>
        <td  colspan="1">
            <center>
                <h3 id="recieved_month"> {{ tag_list[8] }} </h3>
            </center>
        </td>
       
        <td  colspan="1">
            <center>
                <h3 id="ots_month"> {{ tag_list[9] }} </h3>
            </center>
        </td>
        <td  colspan="1">
            <center>
                <h3 id="tbs_month">{{ tag_list[4] }} </h3> 
                <!-- to be sent will be same for both daily and monthly -->
            </center>
        </td>
        <td  colspan="1">
            <center>
                <h3 id="delay_month"> {{ tag_list[10] }} </h3>
            </center>
        </td>
        
        <td  colspan="1">
            <center>
                <h3 id="delay_month_percent"> {{ tag_list[11] }} </h3>
            </center>
        </td>
        <td  colspan="1">
            <center>
                <h3 id="delay_month_percent"> {{ tag_list[12] }}</h3>
            </center>
        </td>
    </tr>
</table>
<br>

<table border="1" width="100%" id="pager">
    <thead>
        <tr>
            <td style="background-color:steelblue;align-content: center;">
                <center>
                    <h4 style="color:white"><b>S.No</b></h4>
                </center>
            </td>
            <td style="background-color:steelblue">
                <center>
                    <h4 style="color:white"><b>Mat No</b></h4>
                </center>
            </td>
            <td style="background-color:steelblue">
                <center>
                    <h4 style="color:white"><b>Part No</b></h4>
                </center>
            </td>
            <td style="background-color:steelblue">
                <center>
                    <h4 style="color:white"><b>Part Name</b></h4>
                </center>
            </td>
            <td style="background-color:steelblue">
                <center>
                    <h4 style="color:white"><b>Model</b></h4>
                </center>
            </td>
            <td style="background-color:steelblue">
                <center>
                    <h4 style="color:white"><b>Req.Qty.</b></h4>
                </center>
            </td>
            <td style="background-color:steelblue">
                <center>
                    <h4 style="color:white"><b>SAP Qty</b></h4>
                </center>
            </td>
            <td style="background-color:steelblue">
                <center>
                    <h4 style="color:white"><b>SAP Diff.</b></h4>
                </center>
            </td>
            <td style="background-color:steelblue">
                <center>
                    <h4 style="color:white"><b>Readiness Qty</b></h4>
                </center>
            </td>
            <td style="background-color:steelblue">
                <center>
                    <h4 style="color:white"><b>Readiness Diff.</b></h4>
                </center>
            </td>
            <td style="background-color:steelblue">
                <center>
                    <h4 style="color:white"><b>IYM Card IN</b></h4>
                </center>
            </td>
            <td style="background-color:steelblue">
                <center>
                    <h4 style="color:white"><b>Delay</b></h4>
                </center>
            </td>
            <td style="background-color:steelblue">
                <center>
                    <h4 style="color:white"><b>Reason</b></h4>
                </center>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for row in tag_list[0] %}
        <tr>
            <td>
                <center>
                    <h4>{{ loop.index }} </h4>
                </center>
            </td>
            <td>
                <center>
                    <h4>{{ row['mat_no'] }}</h4>
                </center>
            </td>
            <td>
                <center>
                    <h4>{{ row['parts_no'] }}</h4>
                </center>
            </td>
            <td>
                <center>
                    <h4>{{ row['parts_name'] }}</h4>
                </center>
            </td>
            <td>
                <center>
                    <h4>{{ row['model'] }}</h4>
                </center>
            </td>
            <td>
                <center>
                    <h4>{{ row['required_quantity'] }}</h4>
                </center>
            </td>
            <td>
                <center>
                    <h4>{{ row['sap_quantity'] }}</h4>
                </center>
            </td>
            {% if row['difference'] <= 0 %} <td style="background-color:red">
                <center>
                    <h4 style="color:white">{{ row['difference'] }}</h4>
                </center>
                </td>
                {% else %}
                <td>
                    <center>
                        <h4>{{ row['difference'] }}</h4>
                    </center>
                </td>
                {% endif %}
                
                {% if row['readiness_qty'] | int == row['required_quantity'] | int %} 
                <td style="background-color:green">
                    <center>
                        <h4 style="color:white">{{ row['readiness_qty'] }}</h4>
                    </center>
                    </td>
                    {% elif row['readiness_qty'] | int == 0 %}
                    <td style="background-color:red">
                        <center>
                            <h4 style="color:white">{{ row['readiness_qty'] }}</h4>
                        </center>
                    </td>
                    {% else %}
                    <td style="background-color:orange">
                        <center>
                            <h4 style="color:white">{{ row['readiness_qty'] }}</h4>
                        </center>
                    </td>
                    {% endif %}


                {% if row['readiness_diff'] < 0 %} <td>
                    <center>
                        <h4 style="color:red">{{ row['readiness_diff'] }}</h4>
                    </center>
                    </td>
                    {% else %}
                    <td>
                        <center>
                            <h4 style="color:green">{{ row['readiness_diff'] }}</h4>
                        </center>
                    </td>
                    {% endif %}
                <td>
                    <center>
                        <h4>{{ row['recieved_time'] }}</h4>
                    </center>
                </td>
                {% if row['status'] == 'on-time' %}
                <td style="background-color:yellow">
                    <center>
                        <h4> {{ row['time_taken'] }}</h4>
                    </center>
                </td>
                {% else %}
                <td style="background-color:red">
                    <center>
                        <h4 style="color:white"> {{ row['time_taken'] }}</h4>
                    </center>
                </td>
                {% endif %}
            <td>
                <center>
                    <h4>{{ row['reason_for_card_delay'] }}</h4>
                </center>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}